.container {
    border: black;
}
.btn-list {
    background: #dc3545;
    margin-left: 4.2rem;
    color: white;
}
.h3-tittle {
    margin-left: 12rem;
}
.li-tittle {
    background: #2b3034;
}
.hover:hover {
    background: rgb(216, 216, 252);
    cursor: pointer;
}