.container{
    margin-top: 30px;
}
.h2-tittle {
    margin: 16px 50px;
}
.head {
    background: #2b3034;
    color: white;
    height: 5rem;
}
.footer{
    color: white;
    background-color: #1b2127;
    height: 3rem;
    margin-top: 4rem;
} 
.fetch {
    margin-top: 25px;
    text-align: right;
}
